.gift-card {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.gift-card-content {
  margin-left: 70px;
}
.gift-card-content h1 {
  font-size: 36px;
}
.learn-more-btn {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
.gift-card-card {
}
