.property-by-type {
    margin: 0 150px;
}

.properties {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property {
    padding: 10px 0;
}

.property img {
    height: 150px;
    width: 150px;
}