.help-container{
    margin: 40px 80px;

}
.top-heading{
    text-align: center;
    font-size: 48px;
}
.search-btn{
    display: flex;
    align-items: center;
    max-width: fit-content;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 10px;
    height: 30px;
    margin: 10px auto;

}
.search-btn > input{
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-icon{
    background-color: #ec397a ;
    padding: 10px;
    border-radius: 999px;
    color: #fff;
}